@import '/src/scss/variables.scss';

.points {
  margin-top: 50px;

  @media screen and (max-width: 850px) {
    margin-top: 10px;
  }

  &__header {
    color: $app-dark-color;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;

    span {
      color: $app-main-color;
      font-size: 16px;
    }
  }

  &__body {
    margin-top: 30px;
    display: flex;

    @media screen and (max-width: 550px) {
      margin-top: 15px;
    }

    > span {
      border: 1px solid rgba(128, 128, 128, 0.3);
      border-radius: 30px;
      font-weight: 600;
      font-size: 17px;
      border-radius: 5px;
      height: 34px;
      width: 142px;
      position: relative;
      margin-right: 25px;

      p {
        cursor: pointer;
        margin: 0;
        padding: 0 20px;
        width: 100%;
        font-size: 12px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      ul {
        width: 100%;
        position: absolute;
        list-style: none;
        top: 33px;
        left: 0;
        padding: 5px 0;
        margin: 0;
        opacity: 0;
        pointer-events: none;
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.3);
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

        li {
          padding: 5px 15px;
          cursor: pointer;
          font-size: 12px;
          font-weight: 600;
          color: $app-dark-color;
        }
      }

      @media screen and (max-width: 550px) {
        width: 135px;
        margin-right: 15px;

        p {
          padding: 0 10px;
        }
      }
    }

    > .active {
      p {
        svg {
          transform: rotate(180deg);
        }
      }

      ul {
        opacity: 1;
        pointer-events: all;
        border-top: none;
      }
    }

    > button {
      padding: 0 25px;
      border-radius: 30px;
      width: 100px;
      height: 34px;
      font-size: 12px;
      background: $app-main-color;
      border: none;
      outline: none;
      color: #fff;
      font-weight: 600;
      cursor: pointer;

      @media screen and (max-width: 550px) {
        display: none;
      }
    }

    .picker {
      margin-right: 25px;
      height: 34px;

      > div {
        height: 100%;
        display: flex;
        align-items: center;
        top: 6 !important;

        svg {
          top: 6px !important;
        }

        span {
          color: $app-dark-color !important;
        }

        border: 1px solid rgba(128, 128, 128, 0.3) !important;
        box-shadow: none !important;
      }

      @media screen and (max-width: 550px) {
        margin-right: 0;

        > div {
          svg {
            top: 5px !important;
          }
        }
      }
    }
  }
}
