@import '../../../scss/variables.scss';

.cart-item {
  border-bottom: 2px solid $app-light-gray-color;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 550px) {
    align-items: flex-start;
    padding: 15px 5px;
  }

  &__image {
    display: flex;
    align-content: center;

    @media screen and (max-width: 550px) {
      flex-direction: column;

      div{
        margin-left: 0;
      }
    }

    img {
      height: 100px;
      width: 110px;
      object-fit: cover;
    }

    div {
      margin-left: 30px;
      padding-top: 10px;

      p {
        color: $app-dark-color;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
      }

      b {
        color: #9a9a9a;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
        display: block;
      }

      span {
        font-size: 15px;
        font-weight: 500;
        color: $app-dark-color;
      }
    }

    @media screen and (max-width: 550px) {
      flex-direction: column;

      div{
        margin-left: 0;
      }
    }
  }

  &__closer {
    span {
      background-color: rgba(128, 128, 128, 0.5);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      padding: 2px;
      justify-content: center;
      align-items: center;

      svg {
        color: #fff;
        font-size: 25px;

        @media screen and (max-width: 550px) {
          font-size: 22px;
        }
      }
    }
  }
}
