@import '../../../scss/variables.scss';

%list-none {
  pointer-events: none;
  transition: 0.3s;
  transition-delay: 0.3s;
  opacity: 0;
  transform: translateY(10px);
}

%list-active {
  transition-delay: 0s;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.header-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: $app-light-gray-color;

  a {
    text-decoration: none;
    color: $app-main-color;
    font-size: 13px;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: $app-main-color;
    }
  }
}

.header-currency {
  top: -4px;
  right: 0;
  height: 29px;
  width: 89px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.2);

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $app-dark-color;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;

    svg {
      color: $app-dark-color;
      margin-left: 4px;
      font-size: 12px;
    }
  }

  div {
    position: absolute;
    width: 120%;
    top: 30px;
    left: 0%;
    padding: 6px 0;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #0000001c;
    z-index: 2;
    @extend %list-none;

    ul {
      margin: 0;
      padding: 0 0 0 15px;
      list-style: none;
      font-weight: 500;
      color: $app-gray-color;
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      li {
        cursor: pointer;
        font-size: 13px;
        margin: 4px 0;
      }
    }
  }

  &:hover div {
    @extend %list-active;
  }
}

.header-mid {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    width: 90%;
  }

  @media screen and (max-width: 950px) {
    padding: 35px 0 0 0;
  }
}

.header-links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-left: 20px;

      span {
        color: $app-dark-color;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: $app-dark-color;
        font-weight: 600;
        font-size: 14px;
      }
    }

    b{
      background: $app-main-color;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      font-size: 9px;
      margin-left: 3px;
      margin-top: 3px;
    }
  }
}

.header-lower {
  margin-top: 45px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #b9b9b9c5;
  border-top: 1px solid #b9b9b9c5;
  position: relative;

  > div {
    width: 1200px;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 1300px) {
      width: 90%;
    }

    > ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 13px;
        position: relative;

        span{
          cursor: pointer;
        }

        span,
        a {
          color: $app-dark-color;
          font-weight: 600;
          font-size: 15px;
          text-decoration: none;
          display: flex;
          align-items: center;

          svg {
            color: #000;
            margin-left: 10px;
            font-weight: 600;
            font-size: 17px;
          }
        }

        .active{
          color: $app-main-color !important;
        }

        &:hover div {
          @extend %list-active;
        }

        div {
          position: absolute;
          left: 0;
          top: 120%;
          background: #fff;
          padding: 0;
          box-shadow: 0px 0px 2px 2px #0000001c;
          z-index: 2;
          @extend %list-none;

          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding: 15px 0;
            width: 65%;

            li {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: $app-gray-color;
              cursor: pointer;
              font-weight: 500;
              font-size: 13px;
              margin: 10px 0;

              svg {
                transform: rotate(-90deg);
                font-size: 12px;
                font-weight: 500;
              }
            }
          }
        }

        .customer-list {
          width: 210px;
        }

        .category-list {
          width: 210px;
        }
      }

      .click{
        
      }

      .active{
        a{
          color: $app-main-color;
        }
      }
    }
  }

  @media screen and (max-width: 1150px) {
    > div {
      > ul {
        justify-content: flex-start;
      }
    }
  }

  @media screen and (max-width: 950px) {
    margin-top: 40px;

    > div {
      ul {
        li {
          margin: 3px 10px;
        }
      }
    }
  }
}
