@import '../../../scss/variables.scss';

%list-none {
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
}

%list-active {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.header-upper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: $app-light-gray-color;

  a {
    text-decoration: none;
    color: $app-main-color;
    font-size: 15px;
    font-weight: 600;

    @media screen and (max-width: 1400px) {
      font-size: 13px;
    }
  }
}

.header-currency {
  position: absolute;
  right: 60px;
  height: 30px;
  top: 25px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.2);

  @media screen and (max-width: 950px) {
    right: 33px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $app-dark-color;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    svg {
      color: $app-dark-color;
      margin-left: 4px;
      font-size: 13px;
    }
  }

  div {
    position: absolute;
    width: 130%;
    top: 34px;
    left: 0%;
    padding: 6px 0;
    background: #fff;
    box-shadow: 0px 0px 2px 2px #0000001c;
    z-index: 2;
    @extend %list-none;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 500;
      color: $app-gray-color;
      display: flex;
      align-items: center;
      flex-direction: column;

      li {
        cursor: pointer;
        font-size: 15px;
        margin: 8px 0;
      }
    }
  }

  &:hover div {
    @extend %list-active;
  }

  @media screen and (max-width: 1400px) {
    width: 89px;
    height: 29px;
    top: 20px;

    span {
      font-size: 13px;

      svg {
        font-size: 12px;
      }
    }

    div {
      top: 32px;

      ul {
        li {
          font-size: 13px;
        }
      }
    }
  }
}

.header-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  flex-wrap: wrap;
  padding-top: 35px;

  @media screen and (max-width: 1400px) {
    padding-top: 40px;
  }

  @media screen and (max-width: 950px) {
    padding: 35px 30px 0 30px;
  }

}

.header-links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-left: 20px;

      a {
        text-decoration: none;
        color: $app-dark-color;
        font-weight: 500;
        font-size: 18px;

        @media screen and (max-width: 1400px) {
          font-size: 13px;
        }
      }
    }
  }
}

.header-lower {
  margin-top: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #b9b9b9c5;
  border-top: 1px solid #b9b9b9c5;
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 13px;
      position: relative;

      a {
        color: $app-dark-color;
        font-weight: 600;
        font-size: 23px;
        text-decoration: none;
        display: flex;
        align-items: center;

        svg {
          color: $app-dark-color;
          margin-left: 10px;
          font-size: 18px;
        }

        @media screen and (max-width: 1400px) {
          font-size: 15px;

          svg {
            font-size: 14px;
          }
        }
      }

      &:hover div {
        @extend %list-active;
      }

      div {
        position: absolute;
        left: 0;
        top: 130%;
        background: #fff;
        padding: 25px 0;
        box-shadow: 0px 0px 2px 2px #0000001c;
        z-index: 2;
        @extend %list-none;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          width: 65%;

          li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $app-gray-color;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            margin: 10px 0;

            svg {
              transform: rotate(-90deg);
              font-size: 15px;
              font-weight: 500;
            }
          }
        }

        @media screen and (max-width: 1400px) {
          padding: 15px 0;

          ul {
            li {
              font-size: 14px;

              svg {
                font-size: 12px;
              }
            }
          }
        }
      }

      .customer-list {
        width: 100%;

        @media screen and (max-width: 1400px) {
          width: 140%;
        }
      }

      .category-list {
        width: 270px;

        @media screen and (max-width: 1400px) {
          width: 210px;
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 1150px) {
    >ul {
      justify-content: flex-start;
      padding-left: 48px;
    }
  }

  @media screen and (max-width: 950px) {
    margin-top: 40px;

    >ul {
      padding-left: 25px;
    }

    ul{
      li{
        margin: 0 10px;
      }
    }
  }
}
