@import '/src/scss/variables.scss';

.review {
  margin-top: 50px;

  @media screen and (max-width: 850px) {
    margin-top: 10px;
  }

  &__header {
    h3 {
      color: $app-dark-color;
      font-size: 22px;
      margin: 0;

      @media screen and (max-width: 600px) {
        font-size: 21px;
      }
    }

    &__child {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;

      @media screen and (max-width: 850px) {
        margin-top: 15px;
      }

      div {
        display: flex;

        span {
          border: 1px solid rgba(128, 128, 128, 0.3);
          border-radius: 30px;
          font-weight: 600;
          font-size: 17px;
          border-radius: 5px;
          height: 34px;
          width: 142px;
          position: relative;
          margin-right: 25px;

          p {
            cursor: pointer;
            margin: 0;
            padding: 0 20px;
            width: 100%;
            height: 32px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          ul {
            width: 100%;
            position: absolute;
            list-style: none;
            top: 32px;
            left: 0;
            padding: 5px 0;
            margin: 0;
            opacity: 0;
            z-index: 2;
            pointer-events: none;
            background: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px solid rgba(128, 128, 128, 0.3);
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

            li {
              padding: 5px 15px;
              cursor: pointer;
              font-size: 12px;
              font-weight: 600;
              color: $app-dark-color;
            }
          }
        }

        .active {
          border-bottom: none;

          p {
            svg {
              transform: rotate(180deg);
            }
          }

          ul {
            opacity: 1;
            pointer-events: all;
            border-top: none;
          }
        }

        @media screen and (max-width: 600px) {
          span {
            height: 45px;
            width: 170px;

            p {
              height: 43px;
              font-size: 12px;
            }

            ul {
              top: 44px;
            }
          }
        }

        @media screen and (max-width: 450px) {
          width: 100%;
          justify-content: space-between;

          span {
            width: 45%;
          }
        }

        @media screen and (max-width: 410px) {
          span {
            width: 50%;
          }
        }
      }

      > p {
        color: $app-main-color;
        font-weight: 600;
        font-size: 16px;
        margin: 0;

        @media screen and (max-width: 600px) {
          font-size: 17px;
        }

        @media screen and (max-width: 450px) {
          position: absolute;
          right: 0;
          top: -45px;
        }
      }
    }
  }

  &__body {
    margin-top: 35px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);

    &__child {
      cursor: pointer;
      height: 84px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);

      div {
        height: 100%;
        display: flex;
        align-items: center;
      }

      div:nth-child(1) {
        width: 72%;
        position: relative;

        span {
          font-size: 14px;
          font-weight: 500;
          color: $app-dark-color;
          margin-right: 50px;
        }

        img {
          width: 74px;
          height: 100%;
          margin-right: 20px;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          color: $app-dark-color;
          line-height: 1.5;
          height: 22px;
          overflow: hidden;
          margin: 0 0 0 15px;
        }

        @media screen and (max-width: 800px) {
          width: 65%;
        }

        @media screen and (max-width: 600px) {
          width: 30%;

          P {
            top: 10px;
            right: -350px;
            position: absolute;
            width: 350px;
            height: 22px;
            overflow: hidden;
          }
        }

        @media screen and (max-width: 550px) {
          p {
            right: -320px;
            width: 300px;
          }
        }

        @media screen and (max-width: 500px) {
          span {
            margin-right: 25px;
          }

          img {
            width: 100px;
          }
        }

        @media screen and (max-width: 485px) {
          p {
            right: -280px;
            width: 250px;
          }
        }

        @media screen and (max-width: 440px) {
          p {
            right: -245px;
            width: 200px;
          }
        }

        @media screen and (max-width: 400px) {
          p {
            right: -205px;
            width: 150px;
          }
        }
      }

      .active {
        p {
          margin-left: 0 !important;
        }
      }

      div:nth-child(2) {
        width: 25%;
        display: flex;
        justify-content: space-between;

        p {
          font-weight: 500;
          color: $app-dark-color;
          font-size: 14px;
        }

        span {
          color: $app-main-color;
          font-weight: 600;
          font-size: 18px;
        }

        @media screen and (max-width: 800px) {
          width: 30%;
        }

        @media screen and (max-width: 600px) {
          div {
            align-items: flex-end;
          }

          padding-bottom: 10px;
          align-items: flex-end;
          justify-content: flex-start;
          width: 70%;
        }

        @media screen and (max-width: 600px) {
          width: 70%;
        }

        @media screen and (max-width: 550px) {
          width: 67%;
        }

        @media screen and (max-width: 485px) {
          div {
            width: 80px;
          }

          width: 63%;
        }

        @media screen and (max-width: 445px) {
          width: 58%;
        }

        @media screen and (max-width: 400px) {
          width: 53%;
        }
      }
    }

    #active {
      > div:nth-child(1) {
        p {
          margin-left: 0;
        }

        @media screen and (max-width: 600px) {
          width: 10%;

          P {
            right: -400px;
            width: 400px;
          }
        }

        @media screen and (max-width: 485px) {
          width: 7%;

          P {
            right: -355px;
            width: 350px;
          }
        }

        @media screen and (max-width: 430px) {
          P {
            right: -305px;
            width: 300px;
          }
        }

        @media screen and (max-width: 400px) {
          P {
            right: -260px;
            width: 250px;
          }
        }
      }

      > div:nth-child(2) {
        @media screen and (max-width: 600px) {
          div {
            width: 100px;
          }

          width: 90%;
        }

        @media screen and (max-width: 485px) {
          div {
            width: 80px;
          }

          width: 92%;
        }

        @media screen and (max-width: 400px) {
          div {
            width: 80px;
          }

          width: 90%;
        }
      }
    }
  }
}
