@import '/src/scss/variables.scss';

.user {
  margin-top: 50px;

  @media screen and (max-width: 850px) {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &-board {
    h3 {
      margin: 0;
      font-size: 22px;
      color: $app-dark-color;
      font-weight: 600;

      @media screen and (max-width: 850px) {
        color: $app-main-color;
      }
    }

    &__body {
      width: 100%;
      height: 200px;
      margin-top: 30px;
      border-radius: 5px;
      background: $app-light-gray-color;
      display: flex;
      justify-content: space-between;

      div {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        color: $app-main-color;

        b {
          font-size: 33px;
        }

        span {
          font-size: 16px;
          font-weight: 600;
        }
      }

      div:first-child {
        &::before {
          content: '';
          position: absolute;
          right: -0.5px;
          top: 25%;
          width: 1px;
          height: 50%;
          background: $app-gray-color;
        }
      }

      @media screen and (max-width: 850px) {
        margin-top: 15px;
      }

      @media screen and (max-width: 800px) {
        height: 117px;

        div {
          b {
            font-size: 27px;
          }

          span {
            font-size: 17px;
          }
        }
      }
    }
  }

  &-status {
    margin: 50px 0;
    font-size: 23px;

    @media screen and (max-width: 850px) {
      margin: 30px 0 40px 0;
    }

    h3 {
      margin: 0;
      font-size: 23px;
      color: $app-dark-color;
      font-weight: 600;
    }

    &__body {
      margin-top: 30px;
      padding-top: 40px;
      border-top: 1px solid rgba(128, 128, 128, 0.3);
      position: relative;
      display: flex;

      &__month {
        right: 0;
        top: -40px;
        position: absolute;
        color: $app-dark-color;
        font-weight: 600;
        font-size: 12px;
      }

      &__child {
        display: flex;

        div {
          text-align: center;

          span {
            color: $app-dark-color;
            font-size: 23px;
            font-weight: 600;
          }

          #active{
            color: $app-main-color;
          }

          p {
            color: $app-dark-color;
            font-weight: 600;
            line-height: 1.5;
            font-size: 12px;
          }
        }

        svg {
          align-self: center;
          margin: 0 20px 0 17px;
          font-size: 17px;
          color: $app-gray-color;
        }

        @media screen and (max-width: 600px) {
          div {
            span {
              font-size: 27px;
            }
          }

          svg {
            margin: 0 10px;
            font-size: 15px;
            width: 20px;
          }
        }

        @media screen and (max-width: 500px) {
          svg {
            width: 25px;
          }
        }

        @media screen and (max-width: 460px) {
          svg {
            margin: 0;
            width: 20px;
          }
        }
      }

      &__lastChild {
        width: 18%;
        margin-left: 40px;
        border-left: 1px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          margin: 10px 0;
          color: $app-dark-color;
          font-weight: 600;
          padding-left: 30px;
          font-size: 12px;
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 700;
            font-size: 13px;
          }
        }

        @media screen and (max-width: 1050px) {
          margin-left: 20px;
        }

        @media screen and (max-width: 1000px) {
          p {
            padding-left: 15px;
          }
        }

        @media screen and (max-width: 850px) {
          width: 13%;
        }

        @media screen and (max-width: 800px) {
          width: 26%;
          border: none;
          position: absolute;
          left: 0;
          bottom: -50px;
          margin: 0;
          flex-direction: row;
          justify-content: flex-start;

          P {
            padding: 0;
            margin-right: 25px;

            span {
              margin-left: 15px;
            }
          }
        }
      }

      @media screen and (max-width: 800px) {
        justify-content: space-between;
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: 70px;
      }

      @media screen and (max-width: 460px) {
        div:nth-child(2) {
          width: 80px;
        }

        div:nth-child(3) {
          width: 100px;
        }

        div:nth-child(4) {
          width: 100px;
        }
      }
    }
  }
}
