@import '../../../scss/variables.scss';

.reviews {
  margin-top: 20px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-self: center;

    span {
      color: #808080;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 12px;

      svg {
        font-size: 12px;
        margin-top: 2px;
        margin-left: 2px;
      }

      @media screen and (max-width: 700px) {
        margin-right: 100px;
      }
    }

    @media screen and (max-width: 700px) {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0px;
    }
  }

  @media screen and (max-width: 700px) {
    margin-top: 0px;
  }
}
