@import '/src/scss/variables.scss';

.order {
  margin-top: 30px;

  &__child {
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.3);

    &__header {
      background: $app-light-gray-color;
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;

      div {
        display: flex;

        span:last-child {
          margin-left: 100px;
        }
      }

      span {
        p {
          color: $app-dark-color;
          font-size: 17px;
          font-weight: 600;
        }

        p:nth-child(1) {
          font-size: 14px;
        }

        p:nth-child(2) {
          font-size: 12px;
        }
      }

      @media screen and (max-width: 500px) {
        padding: 10px 15px;
        flex-direction: column;

        div{
          flex-direction: column;

          span:last-child {
            margin: 0;
          }
        }

        span{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5px 0;
          width: 160px;

          p{
            margin: 0;
          }
        }
      }
    }

    &__body {
      padding: 20px 25px 50px 25px;
      position: relative;

      h4 {
        width: 100%;
        color: $app-dark-color;
        margin: 0 0 30px 0;
        font-size: 18px;
      }

      .active {
        color: $app-main-color;
      }

      &__content {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;

        img {
          width: 20%;
          height: 127px;
          margin-right: 3%;
        }

        div {
          width: 74%;

          p {
            margin: 0;
            color: $app-dark-color;
            font-size: 14px;
            font-weight: 600;
            height: 22px;
            width: 100%;
            overflow: hidden;
          }

          span {
            color: #9a9a9a;
            font-weight: 600;
            display: block;
            margin: 5px 0;
            font-size: 14px;
          }

          button {
            font-size: 12px;
            height: 38px;
            width: 134px;
            margin-top: 20px;
            border: 1px solid rgba(128, 128, 128, 0.3);
            outline: none;
            cursor: pointer;
            padding: 10px 20px;
            background: none;
            font-weight: 600;
            color: $app-dark-color;
            border-radius: 30px;
          }
        }

        @media screen and (max-width: 500px){
          div {
            span{
              margin: 2px 0;
            }

            button {
              font-size: 12px;
              height: 35px;
              width: 133px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              margin-top: 10px;
            }
          }
        }
      }

      &__buttons {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        button {
          display: block;
          border: 1px solid rgba(128, 128, 128, 0.3);
          color: $app-dark-color;
          font-weight: 600;
          cursor: pointer;
          outline: none;
          border-radius: 30px;
          font-size: 12px;
          width: 192px;
          height: 40px;
          background: none;
          margin-top: 15px;
        }

        .active {
          border: none;
          color: #fff;
          background: $app-main-color;
        }

        #invalid {
          pointer-events: none;
          opacity: 0.6;
          color: $app-gray-color;
        }

        p {
          margin: 10px 0 0 0;
          color: $app-main-color;
          font-weight: 600;
          font-size: 12px;
        }
      }

      @media screen and (max-width: 750px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        h4 {
          margin-bottom: 20px;
        }

        &__buttons {
          position: relative;
          margin-top: 5px;
          left: 0;
          bottom: 0;
          align-items: center;

          button {
            width: 250px;
          }
        }

        &__content {
          margin-top: 0px;
          margin-bottom: 20px;

          img {
            width: 35%;
          }

          div {
            width: 60%;
          }
        }
      }

      @media screen and (max-width: 500px) {
        padding: 10px 15px 20px 15px;

        h4 {
          font-size: 15px;
        }

        &__content{
          img{
            width: 113px;
            height: 103px;
          }

          div{
            width: 65%;
          }
        }

        &__buttons {
          button {
            width: 100%;
            font-size: 14px;
            height: 50px;
          }

          p{
            font-size: 15px;
          }
        }
      }
      
      @media screen and (max-width: 410px) {
        &__content{
          div{
            width: 60%;
          }
        }
      }
    }
  }
}
