@import '../../../scss/variables.scss';

.package {
  width: 90%;
  margin-top: 30px;

  &__header {
    height: 46px;
    background: #F8F8F8;
    border: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;

    @media screen and (max-width: 430px) {
      padding-right: 30px;
    }

    span {
      color: $app-dark-color;
      font-weight: 500;
      font-size: 15px;
    }
  }

  &__body {
    &__child {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 18px 20px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      cursor: pointer;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & div:first-child {
        width: 37%;

        span {
          border-radius: 50%;
          border: 1px solid $app-gray-color;
          width: 21px;
          height: 21px;
          position: relative;
        }

        .active {
          &::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            left: 20%;
            top: 22%;
            background: $app-main-color;
            border-radius: 50%;
          }
        }

        p {
          margin: 0;
          margin-left: 0px;
          color: $app-dark-color;
          text-align: center;
          width: 70px;
          
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }

        @media screen and (max-width: 1000px) {
          padding-right: 23px;
        }

        @media screen and (max-width: 930px) {
          padding-right: 15px;
        }

        @media screen and (max-width: 850px) {
          padding-right: 17px;
        }

        @media screen and (max-width: 750px) {
          padding-right: 10px;
        }

        @media screen and (max-width: 630px) {
          padding-right: 0px;
        }

        @media screen and (max-width: 600px) {
          padding-right: 30px;
        }

        @media screen and (max-width: 530px) {
          padding-right: 25px;
        }

        @media screen and (max-width: 470px) {
          padding-right: 20px;
        }

        @media screen and (max-width: 420px) {
          padding-right: 15px;
        }

        @media screen and (max-width: 400px) {
          padding-right: 10px;
        }

        @media screen and (max-width: 350px) {
          p{
            width: 60px;
          }
        }
      }

      & div:last-child {
        width: 55%;

        p {
          margin: 0;
          text-align: center;
          width: 80px;

          .cross {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              width: 110%;
              height: 1px;
              top: 49%;
              background: #a6a6a6;
              left: -5%;
            }
          }

          span{
            color: #a6a6a6;
            font-size: 14px;
            font-weight: 600;
          }
        }

        svg {
          color: $app-dark-color;
          font-size: 20px;
        }

        b {
          color: $app-main-color;
          font-size: 14px;
          text-align: center;
          font-weight: 600;
        }
      }
      
      @media screen and (max-width: 1050px) {
        & div:last-child{
          width: 60%;
        }
      }

      @media screen and (max-width: 1000px) {
        & div:first-child {
          width: 45%;
        }
      }

      @media screen and (max-width: 900px) {
        & div:first-child {
          width: 40%;
        }

        & div:last-child {
          width: 60%;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;

    &__body {
      &__child {
        & div:last-child {
          width: 49%;
        }

        & div:first-child {
          width: 33%;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__body {
      &__child {
        & div:first-child {
          width: 39%;
        }
      }
    }
  }

  @media screen and (max-width: 470px) {
    &__body {
      &__child {
        & div:first-child {
          width: 41%;
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    &__body {
      &__child {
        & div:last-child {
          width: 53%;
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
    &__body {
      &__child {
        & div:last-child {
          width: 57%;
        }
      }
    }
  }
}
