@import '../../../../scss/variables.scss';

.delivery {
  margin-top: 25px;

  h3 {
    color: $app-dark-color;
    font-size: 18px;
    margin: 20px 0 10px 0;
  }

  @media screen and (max-width: 500px) {
    h3 {
      font-size: 21px;
    }
  }

  p {
    color: $app-dark-color;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
  }

  &__body {
    margin-top: 40px;

    p {
      margin: 15px 0;
    }
  }

  &__footer {
    margin: 50px 0;

    span {
      position: relative;
      color: $app-dark-color;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid gray;
      }

      &::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        left: 5px;
        top: 7px;
        opacity: 0;
        background: $app-main-color;
      }
    }

    @media screen and (max-width: 500px) {
      margin-top: 40px;

      span {
        font-size: 14px;
        padding-left: 30px;

        &::before {
          top: -1px;
          width: 22px;
          height: 22px;
        }

        &::after {
          width: 10px;
          height: 10px;
          left: 6px;
          top: 6px;
        }
      }
    }

    .active {
      &::after {
        opacity: 1;
      }
    }
  }
}
