@import '../../../../scss/variables.scss';

.logo {
  display: flex;
  align-items: center;

  img {
    width: 130px;
  }

  @media screen and (max-width: 600px) {
    img{
      width: 120px;
    }
  }
}
