@import '../../../../scss/variables.scss';

.logo {
  position: relative;
  font-size: 25px;
  color: $app-gray-color;
  font-weight: 600;
  margin-left: 45px;
  margin-right: 60px;

  &::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 0px;
    left: -45px;
    border-radius: 50%;
    background: $app-main-color;
  }

  @media screen and (max-width: 1400px) {
    font-size: 23px;

    &::before {
      width: 28px;
      height: 28px;
    }
  }

  @media screen and (max-width: 1050px) {
    width: 150px;
    font-size: 20px;

    &::before {
      top: -1px;
      width: 26px;
      height: 26px;
    }
  }

  @media screen and (max-width: 830px) {
    margin: 0;
  }
}