@import '../../../../scss/variables.scss';

.logo {
  display: flex;
  align-items: center;

  span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $app-main-color;
    margin-right: 10px;
  }

  p {
    font-size: 25px;
    color: $app-gray-color;
    font-weight: 600;
    margin: 0;
  }

  @media screen and (max-width: 1400px) {
    p{
      font-size: 18px;
    }

    span {
      width: 28px;
      height: 28px;
    }
  }

  @media screen and (max-width: 1050px) {
    width: 150px;
    font-size: 20px;

    span {
      width: 26px;
      height: 26px;
    }
  }

  @media screen and (max-width: 830px) {
    margin: 0;
  }
}
