@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.main-carousel {
  width: 100%;
  height: 580px;

  @media screen and (max-width: 1000px) {
    height: 500px;
  }

  @media screen and (max-width: 700px) {
    height: 425px;
  }
}

.mySwiper {
  @include carousel-paginaiton;
}

.main-swiper {
  width: 108%;
  left: -4%;
  height: 100%;
  position: absolute;

  .swiper-slide a {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    display: block;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 700px) {
    left: 0;
    width: 100%;

    .swiper-slide a {
      width: 100%;
    }

    .swiper-button-next ,
    .swiper-button-prev {
      &::before {
        bottom: 48%;
      }
    }
  }
}
