@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.main-carousel {
  width: 100%;
  height: 396px;
}

.mySwiper {
  @include carousel-paginaiton
}

.category-swiper{
  margin-top: 15px;

  .swiper-button-next {
    color: gray;
    background-color: white;
    width: 35px;
    height: 35px;
    margin-right: -10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      right: 10px;
      width: 12px;
      bottom: 49%;
      height: 2px;
      background: rgb(99, 99, 99);
      cursor: pointer;
    }

    &::after {
      color: #000;
      position: absolute;
      font-size: 13px;
      right: 10px;
      font-weight: 600;
      top: 30%;
    }
  }

  .swiper-button-prev {
    color: gray;
    background-color: white;
    width: 35px;
    height: 35px;
    margin-left: -10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      width: 12px;
      bottom: 49%;
      height: 2px;
      background: rgb(99, 99, 99);
      cursor: pointer;
    }

    &::after {
      color: #000;
      position: absolute;
      font-size: 13px;
      left: 10px;
      font-weight: 600;
      top: 30%;
    }
  }
}

.main-swiper {
  width: 108%;
  left: -4%;
  height: 100%;
  position: absolute;

  .swiper-button-next {
    color: gray;
    background-color: white;
    width: 35px;
    height: 35px;
    margin-right: -10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      right: 10px;
      width: 12px;
      bottom: 49%;
      height: 2px;
      background: rgb(99, 99, 99);
      cursor: pointer;
    }

    &::after {
      color: #000;
      position: absolute;
      font-size: 13px;
      right: 10px;
      font-weight: 600;
      top: 30%;
    }

    @media screen and (max-width: 450px) {
      margin-right: 10px;
      width: 25px;
      height: 25px;

      &::before {
        right: 7px;
        width: 10px;
        bottom: 50%;
        height: 1.5px;
      }
  
      &::after {
        font-size: 10px;
        right: 6px;
        top: 27.6%;
      }
    }
  }

  .swiper-button-prev {
    color: gray;
    background-color: white;
    width: 35px;
    height: 35px;
    margin-left: -10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      left: 10px;
      width: 12px;
      bottom: 49%;
      height: 2px;
      background: rgb(99, 99, 99);
      cursor: pointer;
    }

    &::after {
      color: #000;
      position: absolute;
      font-size: 13px;
      left: 10px;
      font-weight: 600;
      top: 30%;
    }

    @media screen and (max-width: 450px) {
      margin-left: 10px;
      width: 25px;
      height: 25px;

      &::before {
        left: 7px;
        width: 10px;
        bottom: 50%;
        height: 1.5px;
      }
  
      &::after {
        font-size: 10px;
        left: 6px;
        top: 27.6%;
      }
    }
  }

  .swiper-slide a {
    width: 92%;
    height: 100%;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div{
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span{
        color: #fff;
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 700px) {
    left: 0;
    width: 100%;

    .swiper-slide a {
      width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
      &::before {
        bottom: 48%;
      }
    }
  }
}

.review-swiper {
  height: 100%;

  .swiper-slide div {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}