@import '../../../scss/variables.scss';

.category-swiper {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;

  @media screen and (max-width: 600px) {
    margin-top: 30px;

    > div:nth-child(2),
    > div:nth-child(3) {
      display: none !important;
    }
  }
}

.category-child {
  cursor: pointer;
  width: 101px;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  &__image {
    height: 101px;
    border-radius: 50%;
    background: $app-light-gray-color;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }

    @media screen and (max-width: 600px) {
      height: 120px;
    }

    @media screen and (max-width: 500px) {
      img {
        width: 45px;
        height: 45px;
      }

      width: 100px;
      height: 100px;
    }
  }

  &__body {
    margin-top: 15px;
    text-align: center;

    p {
      font-size: 13px;
      color: $app-dark-color;
      font-weight: 600;
      margin: 0;
      margin-bottom: 5px;

      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }

    span {
      color: #808080;
      font-weight: 500;
      font-size: 12px;
    }
  }
}
