@import '../../../scss/variables.scss';

.cart {
  margin-top: 40px;
  padding: 0 20px;
  position: relative;
  
  &::before{
    content: '';
    position: absolute;
    width: 95.5%;
    left: 2.25%;
    top: 0;
    height: 2px;
    background: $app-light-gray-color;
  }

  &-footer {
    margin-top: 30px;

    @media screen and (max-width: 550px) {
      margin-top: 20px;
    }

    &__subTotal {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      span {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #767678;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 500;

        p {
          margin: 0;
        }

        @media screen and (max-width: 550px) {
          width: 100%;
          color: #767678;
          font-weight: 600;
          font-size: 15px;
          margin-top: 12px
        }
      }
    }

    &__total {
      padding-right: 0px;
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 67px;
      position: relative;

      &::before{
        content: '';
        position: absolute;
        left: -2.25%;
        top: 0;
        width: 104.5%;
        height: 100%;
        background-color: $app-light-gray-color;
      }

      span {
        display: flex;
        font-size: 22px;
        color: $app-dark-color;
        font-weight: 600;
        align-items: center;
        position: relative;

        p {
          margin: 0 0 0 40px;
        }
      }

      @media screen and (max-width: 550px) {
        padding: 0 10px;
        
        span{
          width: 100%;
          justify-content: space-between;
          font-size: 20px;
        }
      }
    }

    &__buttons {
      margin-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: 405px;
        height: 53px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 500;

        @media screen and (max-width: 550px) {
          width: 100%;
          font-size: 14px;
        }
      }

      button:first-child {
        background: $app-main-color;
        color: #fff;
        margin-bottom: 15px;
      }

      button:last-child {
        border: 1px solid #E6E6E6;
        background: #fff;
        color: #65707D;
      }
    }
  }
}
