@import '../../../scss/variables.scss';

.contact-us{
  width: 100%;
  margin-top: 100px;
  background: $app-light-gray-color;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__body{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content{
      h4{
        margin: 0;
        font-size: 26px;
        font-weight: 600;
        color: $app-dark-color;
      }

      p{
        margin: 25px 0 0 0;
        width: 500px;
        color: $app-gray-color;
        font-weight: 600;
        line-height: 1.5;
      }
    }

    &__button{
      button{
        width: 50px;
        height: 46px;
        background-color: $app-main-color;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
          font-size: 30px;
          color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    margin-top: 50px;
    height: 110px;

    &__body{
      &__content{
        h4{
          font-size: 22px;
        }

        p{
          display: none;
        }
      }

      &__button{
        button{
          width: 38px;
          height: 35px;

          svg{
            font-size: 20px;
          }
        }
      }
    }
  }
}