@import '../../../scss/variables.scss';

.faq-list{
  margin-top: 50px; 

  &__body{
    border-top: 1px solid rgba(128, 128, 128, 0.3);
  }

  &__child{
    padding-bottom: 15px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    
    &__header{
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      p{
        margin: 0;
        color: $app-dark-color;
        font-weight: 600;
        font-size: 17px;

        b{
          color: $app-main-color;
          margin-right: 15px;
          font-size: 18px;
        }
      }
    }

    &__content{
      width: 100%;
      display: flex;
      color: $app-gray-color;
      font-weight: 500;
      font-size: 17px;

      span{
        font-size: 20px;
        margin-right: 15px;
      }

      p{
        margin: 0;
        line-height: 1.5;
      }
    }
  }
}

#active{
  height: auto;
  overflow: none;
}