@import '../../../../scss/variables.scss';

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  button {
    height: 47px;
    font-size: 17px;
    width: 48%;
    outline: none;
    cursor: pointer;
    background: none;
    font-weight: 500;
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: $app-dark-color;
  }

  .active {
    border: none;
    background: $app-main-color;
    color: #fff;
  }

  @media screen and (max-width: 500px) {
    button:nth-child(1) {
      order: 2;
    }

    button {
      height: 50px;
      font-size: 14px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
