@import '../../../scss/variables.scss';

.customer-input {
  margin-top: 30px;
  display: flex;

  span {
    display: block;
    width: 404px;
    height: 35px;
    border: 1px solid #DBE1E5;
    border-radius: 5px;
    position: relative;
    padding: 0 15px;

    input {
      position: absolute;
      top: 0;
      width: 85%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 12px;

      &::placeholder {
        color: $app-gray-color;
        font-size: 12px;
      }
    }

    button{
      position: absolute;
      right: 8px;
      top: 2px;
      width: 30px;
      height: 30px;
      background: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: $app-dark-color;
        font-size: 16px;
      }
    }

    @media screen and (max-width: 1250px) {
      height: 45px;

      button{
        top: 8px;
      }

      input {
        font-size: 15px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    @media screen and (max-width: 700px) {
      width: 100%;

      button {
        cursor: pointer;
      }
    }
  }

  &__searchButton {
    font-size: 12px;
    width: 84px;
    margin-left: 20px;
    background: $app-main-color;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}
