@import '../../../scss/variables.scss';

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;

    span {
      cursor: pointer;
      color: $app-gray-color;
      font-weight: 600;
      font-size: 14px;
      margin: 0 10px;
    }

    p {
      font-size: 14px;
      margin: 0 10px;
    }

    &_active {
      color: $app-main-color !important;
    }
  }

  @media screen and (max-width: 700px) {
    margin-top: 20px;

    &__list{
      span{
        font-size: 15px;
      }
    }
  }
}
