@import '../../../scss/variables.scss';

.discover {
  margin-top: 70px;
  flex-wrap: wrap;
  display: flex;
  height: 382px;

  @media screen and (max-width: 800px) {
    height: auto;
  }

  &__child {
    width: 50%;
    background: $app-light-gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px){
      padding: 40px 0;
      width: 100%;
    }

    h4 {
      font-size: 22px;
      color: $app-dark-color;
      margin: 0;
      font-weight: 500;
    }

    img {
      margin-top: 30px;
      width: 70px;
      height: 60px;
    }

    p {
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      max-height: 75px;
      overflow: hidden;
      width: 40%;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 500;
      color: $app-dark-color;
    }

    button {
      border: 1px solid $app-gray-color;
      cursor: pointer;
      border-radius: 30px;
      color: $app-dark-color;
      background: none;
      margin-top: 20px;
      width: 171px;
      font-size: 12px;
      height: 35px;
    }

    @media screen and (max-width: 950px) {
      p{
        width: 60%;
      }

      img{
        margin-top: 15px;
      }
    }

    @media screen and (max-width: 500px) {
      p{
        width: 80%;
      }

      button{
        width: 190px;
      }
    }
  }
}

#active {
  background: $app-main-color;

  h4,
  button,
  p {
    color: #fff;
  }

  button {
    border: 1px solid #fff;
  }
}
