@import '../../../scss/variables.scss';

.search-input {
  width: 50%;
  height: 51px;
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $app-main-color;
  margin-left: 80px;

  input {
    width: 93%;
    height: 70%;
    color: $app-gray-color;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 13px;
      color: $app-dark-color;
      font-weight: 500;
      opacity: 0.5;
    }
  }

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    svg {
      font-weight: 500;
      font-size: 18px;
      color: $app-dark-color;
      margin-top: 5px;
    }
  }

  @media screen and (max-width: 1150px) {
    width: 45%;
  }

  @media screen and (max-width: 1050px) {
    margin-left: 20px;
    width: 40%;
  }

  @media screen and (max-width: 950px) {
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
    order: 3;

    input {
      width: 95%;
    }
  }
}
