@import '../../../scss/variables.scss';

.search-input {
  width: 40%;
  height: 55px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid $app-main-color;

  &__category {
    width: 130px;
    position: relative;

    span {
      font-size: 18px;
      display: flex;
      align-items: center;
      font-weight: 500;
      cursor: pointer;

      svg {
        margin-left: 10px;
        color: $app-gray-color;
        font-size: 15px;
      }
    }

    &::before{
      content: '';
      position: absolute;
      right: -12px;
      height: 80%;
      top: 10%;
      width: 1px;
      background-color: $app-main-color;
    }
  }

  input {
    width: 460px;
    height: 70%;
    color: $app-gray-color;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 16px;
      color: $app-gray-color;
      opacity: .5;
    }
  }

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    svg {
      font-weight: 500;
      font-size: 22px;
      color: $app-gray-color;
    }
  }
}
