@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

* {
  box-sizing: border-box;
}

.rs-anim-fade{
  @media screen and (max-width: 425px) {
    left: 110px !important;
  }

  @media screen and (max-width: 365px) {
    left: 90px !important;
  }
}

html{
  scroll-behavior: smooth;
}

textarea,
button,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    width: 90%;
  }

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}

.page-wrapper {
  margin-top: 50px;
  margin-bottom: 90px;

  @media screen and (max-width: 1000px) {
    margin-top: 25px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 550px) {
    margin-top: 15px;
  }
}

.w-950{
  width: 966px;
  margin: 0 auto;

  @media screen and (max-width: 1085px) {
    width: 90%;
  }

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}

.w-966{
  width: 966px;
  margin: 0 auto;

  @media screen and (max-width: 1085px) {
    width: 90%;
  }

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}

.my-page{
  width: 972px;
  margin: 0 auto;

  @media screen and (max-width: 1100px) {
    width: 90%;
  }

  @media screen and (max-width: 700px) {
    width: 95%;
  }
}

.customer{
  width: 808px;
  margin: 0 auto;
  
  @media screen and (max-width: 900px) {
    width: 100%;
  }

}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.w-50 {
  width: 48%;
  
  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.user-width {
  width: 75%;

  @media screen and (max-width: 950px) {
    width: 80%;
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

.user-page-title{
  margin: 0;
  font-size: 27px;
  color: $app-dark-color;
}

.rs-calendar-table-cell-content {
  border-radius: 0 !important;
}

.rs-calendar-table-cell-in-range {
  div {
    background: #ef854362 !important;
  }
}

.rs-calendar-table-cell-content:hover{
  background: #ef854362 !important;
  color: $app-dark-color !important;
}

.rs-calendar-table-cell-selected-start .rs-calendar-table-cell-content,
.rs-calendar-table-cell-selected-end .rs-calendar-table-cell-content{
  background: $app-main-color !important;

  span{
    color: #fff;
  }
}

.rs-picker-toolbar-right {
  button {
    background: $app-main-color !important;
  }
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  box-shadow: inset 0 0 0 1px $app-main-color !important;
}
