@import './variables.scss';

@mixin authForm() {
  text-align: center;

  h3 {
    font-size: 35px;
    margin: 0;
    color: $app-dark-color;

    @media screen and (max-width: 1400px) {
      font-size: 32px;
    }

    @media screen and (max-width: 550px) {
      font-size: 29px;
    }

    @media screen and (max-width: 450px) {
      font-size: 27px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;

    @media screen and (max-width: 550px) {
      width: 90%;
    }

    input {
      margin: 15px 0;
      border-radius: 5px;
      color: $app-dark-color;

      &::placeholder {
        color: $app-dark-color;
        opacity: 0.5;

        @media screen and (max-width: 900px) {
          opacity: 1;
          font-size: 15px;
          font-weight: 600;
          color: #b1b6bd;
        }

        @media screen and (max-width: 450px) {
          font-size: 14px;
        }
      }
    }

    p {
      color: $app-main-color;
    }

    span {
      font-weight: 500;
      margin-top: 15px;
      align-self: flex-start;
      cursor: pointer;
      color: $app-main-color;

      @media screen and (max-width: 900px) {
        font-size: 14px;
      }

      @media screen and (max-width: 450px) {
        font-size: 12px;
      }
    }
  }

  &__confirm {
    margin-top: 20px;
    color: $app-dark-color;
    font-weight: 500;
    display: block;

    b {
      color: $app-main-color;
      cursor: pointer;
      font-weight: 600;
    }

    @media screen and (max-width: 900px) {
      font-size: 15px;
    }

    @media screen and (max-width: 450px) {
      font-size: 12px;
    }
  }
}

@mixin carousel-paginaiton() {
  .swiper-button-next {
    color: gray;
    margin-right: -10px;
    background-color: white;
    width: 45px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      right: 11px;
      width: 22px;
      bottom: 49%;
      height: 2px;
      background: gray;
      cursor: pointer;
    }

    &::after {
      font-size: 22px;
      position: absolute;
      right: 9px;
      top: 24%;
    }

    @media screen and (max-width: 700px) {
      width: 35px;
      height: 35px;
      margin-right: 10px;

      &::before {
        right: 8px;
        width: 16px;
        bottom: 49%;
        height: 1px;
      }

      &::after {
        font-size: 15px;
        right: 7px;
        top: 27%;
      }
    }
  }

  .swiper-button-prev {
    color: gray;
    margin-left: -10px;
    background-color: white;
    width: 45px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

    &::before {
      content: '';
      position: absolute;
      left: 11px;
      width: 22px;
      bottom: 49%;
      height: 2px;
      background: gray;
      cursor: pointer;
    }

    &::after {
      font-size: 22px;
      position: absolute;
      left: 9px;
      top: 24%;
    }

    @media screen and (max-width: 700px) {
      width: 35px;
      height: 35px;
      margin-left: 10px;

      &::before {
        left: 8px;
        width: 16px;
        bottom: 49%;
        height: 1px;
      }

      &::after {
        font-size: 15px;
        left: 7px;
        top: 27%;
      }
    }
  }
}

@mixin category-button {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__child {
    padding: 17px 20px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 40px;
    margin-right: 20px;
    margin-bottom: 25px;

    p {
      margin: 0;
      color: $app-gray-color;
      opacity: 0.7;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 700px) {
    justify-content: space-between;
    margin-top: 10px;

    &__child {
      width: 23.5%;
      height: 38px;
      margin: 10px 0 0 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 12px;
      }
    }
  }
}

@mixin skeleton-animation {
  &::before {
    content: '';
    width: 140%;
    height: 100%;
    background: rgba(207, 207, 207, 0.582);
    background: linear-gradient(
      90deg,
      rgba(207, 207, 207, 0) 10%,
      rgba(200, 200, 200, 0.2637429971988795) 46%,
      rgba(171, 171, 171, 0.196516106442577) 100%,
      rgba(147, 223, 91, 1) 100%,
      rgba(149, 222, 95, 1) 100%,
      rgba(189, 189, 189, 0) 100%
    );
    position: absolute;
    left: 10%;
    animation: skeletonMove 1.5s linear infinite;
  }

  @keyframes skeletonMove {
    0% {
      left: -40%;
    }
    100% {
      left: 100%;
    }
  }
}
