@import '/src/scss/variables.scss';

.not-found{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 1400px){
    height: 300px;
  }

  @media screen and (max-width: 700px){
    height: 250px;
  }


  &__header{
    display: flex;
    align-items: center;
    color: $app-dark-color;
    
    h3{
      font-size: 60px;
      margin: 0 30px 0 0;
      border-right: 2px solid $app-dark-color;
      padding-right: 30px;
    }

    p{
      font-size: 60px;
      font-weight: 600;
      margin: 0;
    }

    @media screen and (max-width: 1400px){
      p,
      h3{
        font-size: 40px;
      }
    }

    @media screen and (max-width: 1000px){
      p,
      h3{
        font-size: 30px;
      }
    }

    @media screen and (max-width: 700px){
      p,
      h3{
        font-size: 25px;
      }
    }

    @media screen and (max-width: 450px){
      p,
      h3{
        font-size: 20px;
      }
    }
  }

  &__footer{
    margin-top: 30px;

    button{
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      border: none;
      color: #fff;
      font-weight: 500;
      padding: 10px 50px;
      font-size: 20px;
      background: $app-main-color;
    }

    @media screen and (max-width: 1400px){
      button{
        padding: 7px 35px;
        font-size: 15px;
      }
    }

    @media screen and (max-width: 1000px){
      button{
        font-size: 13px;
      }
    }

    @media screen and (max-width: 450px){
      button{
        padding: 5px 35px;
        font-size: 12px;
      }
    }
  }
}